.text-white{
    color: white;
}
nav {
    font-size: 20px;
    padding: 10px;
    background-color: #673ab7;
    .navbar-brand {
      font-family: 'Otomanopee One', sans-serif;
      letter-spacing: 3px;
      font-size: 25px;
      cursor: pointer;
    }

  }
  